@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(inter/miyamoto-musashi-3840x2160-15214.jpg);
    background-size: cover;
    background-position: center ;

}

.wrapper {
    width: 450px;
    max-width: 600px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter:blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #ffffff;
    border-radius: 10px;
    padding: 30px 40px;
    margin: 0 auto;
}

.wrapper h1 {
    font-size: 26px;
    text-align: center;
}

.wrapper h3 {
    text-align: center;
}

.wrapper p {
    text-align: center;
}

.wrapper .input-group {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-group input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-group input::placeholder {
    color: #fff;
}
.input-group input:hover {
    transform: scale(1.05); 
    transition: transform 0.3s ease; 
}

.input-group i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .options {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.options label input[type="checkbox"] {
    color: #fff; 
    margin: 5px;
}

.options a {
    color: #fff;
    text-decoration: none;
}


.options a:hover {
    text-transform:uppercase;
}

.wrapper .btn {
    width: 100%;
    height: 50px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 666;
    transition: 0,3s;
}

.wrapper .btn:hover {
    transform: scale(1.05); 
    transition: transform 0.3s ease; 
    background-image: linear-gradient(to right, #d41d8e, #d13131);
}

.wrapper .register-link {
    font-size: 14,5px;
    text-align: center;
   margin: 20px 0 15px;
}

.register-link p a {
    text-decoration: none;
    font-weight: 600;
    background-image: linear-gradient(to right,#d41d8e, #d13131); 
    background-clip: text; 
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.register-link p a:hover {
    text-transform:uppercase;
    text-decoration: underline;
}
